:root{
    --primary-color: #322642;
    --prisecond-color: #433457;
    --secondary-color: #54426B;
    --text-color: white;
    --dark-text-color: #271f32;
    --accent-color: #CBDF90;
    --accent-color-color:  #F19455 ;

    
    --hightlight-color: #4e8b94;
    --title-size: 50px;
    --heading-size: 30px;
    --subheading-size: 25px;
    --label-size: 20px;
    --paragraph-size: 18px;

}

::selection {
  color: var(--dark-text-color);
  background: var(--hightlight-color);
}

html {
    font-size: var(--paragraph-size);
    font-family: sans-serif;
    background-color: var(--primary-color);  
    scrollbar-color: var(--secondary-color);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body {
    margin-left: auto;
    margin-right: auto;
    
}
a{
    color: var(--accent-color)
}

p{
    font-size: var(--paragraph-size);
    margin-top: 0;
    margin-bottom: 0;
}


#siteNav {
    top: 25%; /* shifts it down */
    position: fixed; /* never moves relative to screen*/
    border-color: var(--accent-color);
    overflow: hidden; /*hides text when collapsed*/

    border-style: solid; 
    border-left-style: none;
    border-width: 0px;
    border-radius: 10px;
    border-color:var(--primary-color);

    box-shadow: 10px 10px 10px 5px var(--dark-text-color);
    background-color: var(--secondary-color);
    padding: 10px;
    gap: 5px;
    width: 75px; 
    display:flex;
    flex-direction: column;
    list-style-type:none;
    text-decoration-line: none;
    z-index: 10; /* above all*/
    box-sizing: border-box;
    font-size: var(--label-size);
    font-weight: 600;
    transition: width 200ms ease; /* collapse/expand ease transition*/
}
#siteNav.navExpand{
    width: 230px; /* width changes when expanded */
}
.navCollapse .navItemText{
    opacity: 0;
    transition: 100ms;
}

.navItems{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px; 
    display: flex;
    align-items: center;
    transition: background-color 200ms ease;
    color: var(--accent-color);
}
.navItems:hover{
    background-color: var(--primary-color);
}
.navItems:active{
    transition: scale 100ms ease;
    scale: 90%;
}
.navIcons{
    flex: 0 0 32px;
    display: flex;
    justify-content: center;
}
.navItemLinks{
    display: flex;
    width: 100%;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 15px;
    color: inherit;
}
.navItemText {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 150ms ease;
}
#siteNav.navExpand .navItemText {
    opacity: 1;
    transition-delay: 80ms;      /* let width settle a touch before text fades in */
}

.active{
    background-color: var(--primary-color);
}

.greeting { 
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;
    justify-content: center;
    max-width: 100vw;
    margin-bottom:0px;
    width: 70vw;
    margin:auto;

}
.title {
    font-size: var(--title-size);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--text-color)
}

.signature{
    resize: none; 
    color: var(--text-color);
    fill: var(--text-color);
    stroke: var(--accent-color);
    align-items: center;
    width: 200px;
    height: 100px;
    min-height: 100px;
    min-width: 200px;
    margin-top: 0px;
    margin-left: -20px;
}

.sections{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    justify-self: center;
}

.header{
    color: var(--accent-color);
    text-align: left;
    margin: 0 0;
    padding: 0px;
    text-wrap: wrap;
    font-size: var(--heading-size);
}


#progressStats { 
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;   
    text-align: center;
    gap: 20px;
    color: var(--dark-text-color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    
}

.statBox{
    display: flex;

    justify-content: center;
    min-width: 100px;
    width: 25%;
    height: 70px;
    align-items: center;
    border-radius: 5px;
    margin: 0px;
    padding: 20px;
    min-height: 2rem;

    font-size: var(--paragraph-size);
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--primary-color);

    transition: 200ms ease;
}
.statBox:hover{
    box-shadow: 5px 5px 20px 5px var(--primary-color) ;
}
#barProgress{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 25px;

}
button {
    box-sizing: border-box;
    position:inherit;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--accent-color-color);
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--label-size);
    width: 100%;
    height: 40px;
    color: var(--text-color);
    border-width: 0px;
    z-index: 1;
    transition: 200ms ease;
}

button:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    scale: 105%;

}
button:active{
    cursor: pointer;
    scale: 95%;
}

#dropdownBox{

    flex: 0 0 30%;
    padding: 0px;
    position: relative;
    width: 100px;

}
#options {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    gap: 10px;
    padding: 5px;
    padding-left: 5px;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: var(--dark-text-color);

    top: 70%;
    right: 0%;
    left: 0px;
    width: inherit;
    font-size: var(--paragraph-size);
    
}

#listItems {
    box-sizing: border-box;
    padding: 10px;
    border-radius: inherit;
    cursor: pointer;
    transition: background-color 200ms;
    
}
#listItems:hover{
    cursor: pointer;
    background-color: var(--accent-color-color);
}
#containerStyles {
    flex-grow: 1;
    flex: 1;
    height: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--accent-color);
    margin: 0px;

}

#fillerStyles {
    height: 100%;
    border-radius: inherit;
    background-color: var(--accent-color-color);
}

.content {

    display: flex;
    flex-direction: column;
    gap: 15px;
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 0px;
    box-sizing: border-box;
    text-align: left;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 10px 10px 10px 5px var(--dark-text-color);
}
#projects{
    gap: 60px;
}
.projectfolder {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: inherit;
    border-radius: inherit;
    justify-content: center;
    gap: 10px;
    anchor-name: --myAnchor;
    z-index: 2;
}
.projectTitle{
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    
}
.projectTitle a{
    font-size: var(--subheading-size);
    text-decoration-line: none;
    color: var(--text-color);
}
.projectfolder strong{
    font-size: var(--label-size);
}
.folderbody{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: stretch;


}
.folderbody .bodytext{
    flex-grow: 2;
}
.folderbody img {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1; 
    max-width: 100%;
    object-fit:cover;
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
}
.bodytext{
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
    min-width: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.tab{
    border-top-left-radius: 15px;
    background-color:#322642;
    border-top-right-radius: 15px;
    display: flex;
    height: inherit;
    z-index: 3;
    justify-content: center;    
    align-items: center;
    margin-left: -10px;
    transition: height 100ms ease;
    flex-grow: 1;
    width: 50%;
    
}
.tab h5{
    width: 100%;
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden; /* Hide the text that goes beyond the container's width */
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 20px;
}
.tab:hover{
    cursor: pointer;
    height: 125%;
}
.activeTab{
    background-color: var(--primary-color);
    z-index: 4
}
.inActiveTab{
    background-color: var(--dark-text-color);
    z-index: 3;
}
.tabs{
    z-index: 2;
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    gap: -5px;
    position-anchor: --myAnchor;
    align-items:center;
    bottom: anchor(top); 
    left: calc(anchor(left) + 30px);

}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#GalleryPhotos{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    white-space: nowrap;
    animation: none;
    scrollbar-width: none;
    flex-shrink: 0;
    align-items: center;    
}

#GalleryPhotos:hover{
    cursor: grab;
}
#GalleryPhotos:active{
    cursor: grabbing;
}
#GalleryPhotos::-webkit-scrollbar {
    display: none; 
}
.galleryitem{
    flex-shrink: 0;
    height: 200px;
}

.image{

    display: block;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px;
    border-style:solid;
    border-width: 5px;
    border-color: var(--primary-color);
    height: 100%;
    transition: all 0.3s ease;
}


#contact{
    flex-direction: column;
}
.contacts{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 10px;

}
#contactBoxes{
    background-color: var(--primary-color);
    padding: 5px;
    justify-content: center;
    border-radius: 25%;
}
.contactButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;  
    font-size: var(--paragraph-size);
}
form > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
form label {
    margin-left: 10px;
}
input, textarea{
    font-size: var(--paragraph-size);
    padding: 10px;
    font-family: inherit;
    background-color: var(--text-color);
    border-radius: 10px;
    border-color: var(--prisecond-color);
    border-style: solid;
    border-width: 5px;
    
}
.textarea{
    grid-column: -1/1;
    resize: none;
}
textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}
input:focus,textarea:focus{
    outline:none;
    background-color: var(--accent-color);

}
form span {
    color: var(--accent-color-color);
}
form button {
    grid-column: -1/1;
}
form button:hover{
    scale: 101%;
}
form button:active{
    scale: 99%; 
}
.cursor-blob {
  position: fixed;
  top: -80px;
  left: -80px;
  width: 160px;
  height: 160px;
  pointer-events: none;

  background: radial-gradient(
    circle,
    rgba(255, 136, 0, 0.863),
    rgba(254, 229, 7, 0.914),
    transparent 90%
  );

  filter: blur(50px);
  transform: translate3d(0, 0, 0);
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    pointer-events: none;
    z-index: 4;
}

#shrekButton { 
    position: fixed;
    width: 100px;
    bottom: 10px;
    left: 10px;
    pointer-events: auto;
    background-color: var(--secondary-color);

}
.jumpscare {
    position: fixed;
    width: 5px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
}
.shrekAppear{
    animation: grow 0.3s forwards;
    animation-delay: 500ms;

}
@keyframes grow {
    from {
        transform: scale(0.00001);
    }
    to {
        transform: scale(400);
    }
}
#sidebar {
    position: fixed;
    top: 25px;
    height: calc(100vh - 25px);
    width: 350px;
    
    background: var(--secondary-color);

    box-sizing: border-box;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0px;
    border-radius: 0px 0 0 15px;

    z-index: 3;
    transition: right 200ms ease;

    box-shadow: 10px 40px 10px 20px var(--dark-text-color);

    scrollbar-width: none;
}
.sideCollapse{
    right: -350px;
}
.sideExpand{
    right: 0px;
    background-color: var(--accent-color);
}


.sideTitle{
    font-size: var(--heading-size);
    margin: 0px;
    color: var(--accent-color);
}
.sidebarHeader{
    font-size: var(--subheading-size);
    margin: 0px;
}
.sidebody{
    text-wrap: wrap;
    display:Flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.guestbookdisplay{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.guestbookEntry{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    grid-template-rows:  repeat(2, auto) auto;
    border-radius: 15px 0px 0px 15px;
    gap: 10px;
    overflow-wrap: break-word;
}
.guestbookEntry h4{
    margin: 0px;
}
.guestname {
    grid-column: 1/2;
}
.guestdate {
    grid-column: 1/2;
    text-align: left;
}
.guestsig{
    grid-column: 2/3;
    grid-row: 1/3;
}
.guestmessage{
    grid-column: 1/4;
}
.guestbook form {
    display: flex;
    flex-direction: column; 
    margin-right: 20px;
}
.sideButton {
    --btn-w: 64px;
    --btn-h: 48px;
    box-shadow: 5px 10px 10px 0px var(--dark-text-color);
    position: absolute;
    box-sizing: border-box;
    top: calc((var(--btn-w) - var(--btn-h)) / 2);
    right: calc(100% - (var(--btn-w) - var(--btn-h)) / 2);
    width: var(--btn-w);
    height: var(--btn-h);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background: var(--secondary-color);
    border-radius: 0 0 30px 30px;
}
.sideExpand .sideButton{
    padding-bottom: 10px;
}
.sideButton:hover{
    cursor: pointer;
}