:root{
    --primary-color: #3293a2;
    --secondary-color: #54426B;
    --text-color: white;
    --dark-text-color: #271f32;
    --accent-color: #CBDF90;
    --accent-color-color:  #F19455 ;
    --hightlight-color: #4e8b94;
}

::selection {
  color: var(--dark-text-color);
  background: var(--hightlight-color);
}

html {
    font-size: 20px;
    font-family: sans-serif;
    background-color: var(--primary-color);  
    scrollbar-color: var(--secondary-color);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
body {
    margin-left: auto;
    margin-right: auto;
    
}
a{
    color: var(--accent-color)
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.greeting { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 100vw;
    
    margin-bottom:0px;
    width: 70vw;
    margin:auto;

}
.title {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    color: var(--text-color)
}

.signature{
    color: var(--text-color);
    fill: var(--text-color);
    stroke: var(--accent-color);
    align-items: center;
    width: 200px;
    height: 100px;
    margin-top: 0px;
    margin-left: -20px;
}

#aboutFlow{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: 0 auto;
}

.codeProgress{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.header{
    color: var(--accent-color);
    text-align: center;
    margin: 0 0;
    padding: 15px;
}


#progressStats {    
    text-align: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    padding: 15px;

}

.statBox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    margin: 0px;
    padding: 10px;
    min-height: 2rem;

    font-size: 0.8rem;
    background-color: var(--accent-color);
    color: var(--dark-text-colorcolor);
}
#barProgress{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0 15px 15px 15px;

}
.button {
    box-sizing: border-box;
    background-color: var(--accent-color-color);
    justify-content: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%; 
    width: 100%;
    height: 30px;
    color: var(--text-color);
    border-width: 0px;
}

.button:hover{
    cursor: pointer;
    background-color: var(--accent-color);
}

#dropdownBox{

    flex: 0 0 30%;
    padding: 0px;
    position: relative;
    margin: 0px;
    width: 100px;

}
#options {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    gap: 10px;
    padding: 5px;
    padding-left: 5px;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    border-radius: 15px;
    background-color: var(--accent-color);


    top: 50%;
    right: 0%;
    left: 0px;
    width: inherit;
    font-size: 80%;
    
}

#listItems {
    box-sizing: border-box;
    padding: 10px;
    border-radius: inherit;
    cursor: pointer;
    
}
#listItems:hover{
    cursor: pointer;
    background-color: var(--accent-color-color);
}
#containerStyles {
    flex-grow: 1;
    flex: 1;
    height: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--accent-color);
    margin: 0px;

}

#fillerStyles {
    height: 100%;
    border-radius: inherit;
    background-color: var(--accent-color-color);
}

.content {
    box-sizing: border-box;
    text-align: left;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cursor-blob {
  position: fixed;
  top: -80px;
  left: -80px;
  width: 160px;
  height: 160px;
  pointer-events: none;

  background: radial-gradient(
    circle,
    rgba(255, 136, 0, 0.863),
    rgba(254, 229, 7, 0.914),
    transparent 90%
  );

  filter: blur(50px);
  transform: translate3d(0, 0, 0);
}